*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
body{
    background-image: url(images/background.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed;
    user-select: none;
    
}
.blur{
    filter: blur(10px);
}
nav{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.215);
    position: fixed;
    top: 0;
    right: 0;
}
nav .logo{
    height: 40px;
    width: 200px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 20px ;
    color: #2EBDFF;
}
nav img{
    height: 35px;
    width: 35px;
}
nav input{
    text-align: center;
    width: 300px;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: #fceedc;
    color: black;
    height: 25px;
}
@media(max-width: 1000px){
    nav input{
        visibility: hidden;
    }
}
nav #menu{
    visibility: hidden;
    color: #2EBDFF;
}

nav .navopt{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-right: 20px;
}
nav .navopt a{
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    cursor: pointer;
    color: #2EBDFF;
}
nav .navopt a:hover{
    background-color: #fceedc;
}
.servicedrop, .contactdrop{
    display: inline-block;
    position: relative;
    height: 100%;
}
.serdropopt, .condropopt{
    position: absolute;
    display: none;
    min-width: 150px;
    z-index: 1;

}
.serdropopt a, .condropopt a{
    color: black;
    display: block;
    padding: 5px;
    text-decoration: none;
    margin-top: 5px;
    border-radius: 5px;
    
}
.servicedrop a, .contactdrop a{
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    cursor: pointer;
    color: #2EBDFF;
}
.servicedrop:hover .serdropopt{
    display: block;
}
.contactdrop:hover .condropopt{
    display: block;
}
@media(max-width: 500px){
    nav .navopt{
        visibility: hidden;
    }
    nav #menu{
        visibility: visible;
    }
}
.loginbox{
    height: 70vh;
    width: 400px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fceedc;
    border-radius: 20px;
    gap: 5px;
    position: absolute;
    right: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.loginbox div{
    display: flex;
    flex-direction: column;
}
.loginbox label{
    font-size: 12px;
}
.loginbox input{
    width: 200px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid #2EBDFF;
    outline: none;
    text-align: center;
}
.loginbox #reset{
    font-size: 15px;
    
}
.loginbox #login{
    background-color: #2EBDFF;
    width: 100px;
    text-align: center;
    color: white;
    border-radius: 5px;
    height: 25px;
    margin-top: 5px;
}
.loginbox #createnew{
    position: absolute;
    bottom: 50px;
}
.loginbox a{
    margin: 0;

}
.loginbox #crossloginbox{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.createnewbox{
    height: 70vh;
    width: 400px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fceedc;
    border-radius: 20px;
    gap: 5px;
    position: absolute;
    right: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.createnewbox div{
    display: flex;
    flex-direction: column;
}
.createnewbox label{
    font-size: 12px;

}
.createnewbox input{
    width: 200px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid #2EBDFF;
    outline: none;
    text-align: center;
}
.createnewbox #createacc{
    background-color: #2EBDFF;
    width: 100px;
    text-align: center;
    color: white;
    border-radius: 5px;
    height: 25px;
    margin-top: 5px;
}
.createnewbox #tologinbox{
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;

}
.createnewbox #crosscreatebox{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;

}

.detailsbox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    gap: 100px;
    
    
}
.details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    gap: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.details .btn{
    display: flex;
    flex-direction: row;

}
.details .btn a{
    color: white;
    text-decoration: none;
    height: 30px;
    width: 100px;
    border-radius: 5px;
    padding: 10px;
    background-color: tan;
    margin: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.details .btn a:hover{
    background-color: #fef6eccc;
    color: #2ebdff;
}
.imagecontainer img{
    overflow: hidden;
    width: 200px;
    height: 200px;
    
}